PORT=8080

# PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5433/bootcamp-treinos-api"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8080 # Base URL of your app

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Gemini (também pode ser usado a OpenAI)
GOOGLE_GENERATIVE_AI_API_KEY=