PORT=8081

# PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5433/bootcamp-treinos-api"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8081 # Base URL of your app